.vscode
/easydarwin
/EasyDarwin.exe
/EasyDarwin.exe~
EasyDarwin
/logs
/*.log
node_modules
*.db.bak
*.exe
/*.zip
/*.tar.gz
/*.dev.ini
/*.dev.db
.idea
easydarwin_debug.ini
.DS_Store
Unnamed
dev.ini
debug
debug.ini
